<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-floating mb-3">
    <%= f.email_field :email, autofocus: true,  id:"floatingInput",class:"form-control" , placeholder:"aa" %>
    <%= f.label :email , for:"floatingInput"%><br />
  </div>

  <div class="field form-floating mb-3">
    <%= f.password_field :password,  id:"floatingInput",class:"form-control" , placeholder:"aa" %>
    <%= f.label :password , for:"floatingInput"%><br />
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-check">
      <%= f.check_box :remember_me, class:"form-check-input", id:"flexCheckDefault" %>
      <%= f.label :remember_me, class:"form-check-label" ,for:"flexCheckDefault" %>
    </div>
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-outline-success" %>
    
    <%= render "devise/shared/links"%>
  </div>
<% end %>
